<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Photo</h1>

    <form>
      Name:  <input type='text' name='name'/><br>
      Location: <input type='text' name='location'/><br>
      Type: <input type='text' name='location'/><br>
      Bait: <input type='text' name='bait'/><br>
      <input type='submit' value='submit'/><br>
    </form>

  </body>
</html>
