<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>

    <header>

      <div class='row'>

        <div class='col-md-2'>
          <h1>Fish Finder</h1>
        </div>

        <div class='col-md-10'>
          <a href='/photos'>Photos</a>
          <a href='/users'>Anglers</a>
          <a href='/logout'>Logout</a>
        </div>

      </div>

    </header>

    <div class='new'>
      <h1>New Photo</h1><br>

      <form action='/photos' method='POST'>
        Username:<select name='userId'>
          <% for(let i = 0; i < users.length; i++){ %>
            <option value='<%=users[i]._id%>'><%=users[i].username%></option>
          <% } %>
        </select> <br><br>
        Image: <input type='text' name='img'/><br><br>
        Date:  <input type='text' name='date'/><br><br>
        Location: <input type='text' name='location'/><br><br>
        Species: <input type='text' name='species'/><br><br>
        Bait: <input type='text' name='bait'/><br><br>
        <input type='submit' value='Post Photo'/><br><br>
      </form>
    </div>

  </body>


  <style>

  .new {
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    height: 450px;
    border: 1px solid black;
    width: 300px;
    background-color: lightgray;
    color: green;
    font-family: 'Gloria Hallelujah', cursive;
  }

  .row {
    background-color: green;
    height: 65px;
    margin-bottom: 50px;
  }

  .col-md-2 {
    position: relative;
    top: -10%;
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    left: 10%;
  }

  .col-md-10 {
    position: relative;
    top: 35%;
    left: 60%;
    color: white;
    font-size: 16px;
  }

  a {
    color: white;
    padding-right: 20px;
    font-family: 'Gloria Hallelujah', cursive;
  }

  </style>

</html>
