<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head.ejs %>
    <title></title>
  </head>

  <header>

    <div class='row'>

      <div class='col-md-2'
        <h1>Fish Finder</h1>
      </div>

      <div class='col-md-10'>
        <form action='/login' method='POST'>
        Username <input type='text' name='username'/>
        Password <input type='password' name='password'/>
        <button class='btn btn-primary'>Login</button>
        </form>
      </div>

    </div>
  </header>

  <body>

    <div class='button'>
      <a href='/photos'>View Site as Guest</a>
    </div>


    <div class='register'>
      <h3>Create Account</h3><br>
      <form class='create' action='/register' method='POST'>
        Username <input type='text' name='username'/><br><br>
        Password <input type='password' name='password'/><br><br>
        Location <input type='text' name='location'/><br><br>
        <input class='submit' type='submit' name='' value='Create User'/>
      </form>
    </div>

  </body>

  <style>

    .row {
      background-color: green;
      height: 65px;
      margin-bottom: 50px;
    }

    .create {
      text-align: center;
    }

    .register {
      margin: 0 auto;
      text-align: center;
      padding-top: 25px;
      height: 300px;
      border: 1px solid black;
      width: 300px;
      background-color: lightgray;
      color: green;
      font-family: 'Gloria Hallelujah', cursive;
    }

    input {
      border: 1px solid darkgreen;
      width: 150px;
      margin: 0;
    }

    input :focus {
      background-color: lightblue;
    }

    .submit {
      background-color: green;
      border-radius: 10%;
      color: white;
    }

    .col-md-2 {
      position: relative;
      top: 15%;
      font-size: 30px;
      font-family: 'Gloria Hallelujah', cursive;
      color: white;
      left: 10%;
    }

    .col-md-10 {
      position: relative;
      top: 25%;
      left: 40%;
    }

    h1 {
      padding: 0px;
      margin: 0;
    }

    .button {
      margin-bottom: 10px;
      text-align: center;
    }




  </style>
</html>
