<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head.ejs %>
    <title></title>
  </head>

  <header>

    <div class='row'>

      <div class='col-md-2'>
        <h1>Fish Finder</h1>
      </div>

      <div class='col-md-10'>
        <form class='login' action='/login' method='POST'>
        Username <input type='text' name='username'/>
        Password <input type='password' name='password'/>
        <button class='btn'>Login</button>
        </form>
      </div>

    </div>
  </header>

  <body>

    <div class='register'>
      <h3>Create Account</h3><br>
      <form class='create' action='/users' method='POST'>
        Username <input class='form1' type='text' name='username'/><br><br>
        Password <input class='form2' type='password' name='password'/><br><br>
        Location <input class='form3' type='text' name='location'/><br><br>
        Profile Pic (URL) <input type="text" name='profilePic'/><br><br>
        <input class='submit' type='submit' name='' value='Create User'/>
      </form>
    </div>

    <div class='button'>
      <a class='guest' href='/photos'>View Site as Guest</a>
    </div>

  </body>

  <style>

  body {
    background-image: url('http://wallpapercave.com/wp/K6IjzXu.jpg');
    background-size: 2500px 1000px;
    background-repeat: no-repeat;
  }

    .row {
      background-color: #226846;
      height: 65px;
      margin-bottom: 50px;
    }

    .form1 {
      position: relative;
      left: 7%
    }

    .form2 {
      position: relative;
      left: 8%
    }

    .form3 {
      position: relative;
      left: 8.5%
    }

    .register {
      margin: 0 auto;
      text-align: center;
      margin-top: 125px;
      padding-top: 20px;
      height: 400px;
      border: 2.5px solid #425384;
      width: 350px;
      background-color: #B2B09B;
      color: #226f54;
      font-family: 'Gloria Hallelujah', cursive;
      font-size: 16px;
      margin-bottom: 20px;
    }


    input {
      border: 1px solid #226846;
      width: 150px;
      margin: 0;
      color: black;
      font-size: 14px;
      font-family: arial;
    }

    input :focus {
      background-color: lightblue;
      font-size: 12px;
    }



    .submit {
      background-color: #226846;
      border-radius: 10%;
      color: white;
    }

    .col-md-2 {
      position: relative;
      top: 15%;
      font-size: 30px;
      font-family: 'Gloria Hallelujah', cursive;
      color: white;
      left: 10%;
    }

    .col-md-10 {
      position: relative;
      top: 25%;
      left: 40%;
    }

    h1 {
      padding: 0px;
      margin: 0;
    }

    h3 {
      font-weight: bold;
      font-size: 30px;
    }

    .button {
      margin-bottom: 10px;
      text-align: center;
      color: black;
    }
    .guest {
      color: white;
      font-family: 'Gloria Hallelujah', cursive;
      font-size: 16px;
    }

    .login {
      color: white;
      font-family: 'Gloria Hallelujah', cursive;
    }

    .btn {
      background-color: #3d6eba;
    }




  </style>
</html>
