<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sign Up Form</h1>

    <nav>
      <a href='/'>Home</a>
    </nav><br>

    <form action='/register' method='POST'>
      Username: <input type='text' name='username'/><br>
      Password: <input type='password' name='password'/><br>
      Location: <input type='text' name='location'/><br>
      Profile Pic: <input type='text' name='profilePic'/>
      <input type='submit' name='' value='Create User'/>
    </form>

  </body>
</html>
