<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>

    <title></title>
  </head>
  <body>

    <header>

      <div class='row'>

      <div class='col-md-2'>
        <a href='/'>Fish Finder</a>
      </div>

      <div class='col-md-10'>
        <a href='/photos'>Photos</a>
        <a href='/users'>Anglers</a>
        <a href='/'>Sign Up</a>
        <a href='/logout'>Logout</a>
      </div>

    </div>
    </header>

    <div class='edit'>

    <h1 class='heading'>Edit User</h1><br>
    <form class='form' action='/users/<%=user.id%>?_method=PUT' method='POST'>
      Profile Pic: <input type='text' name='profilePic' /><br><br>
      Username: <input type='text' name='username' value='<%=user.username%>'/><br><br>
      Location: <input class='form1' type='text' name='location'/><br><br>
      <input class='submit' type='submit' value='Edit User'/>
    </form>
  </div>


  </body>

  <style>
  body {
    background-image: url('http://wallpapercave.com/wp/K6IjzXu.jpg');
    background-size: 2500px 1000px;
    background-repeat: no-repeat;
  }

  .col-md-2 {
    position: relative;
    top: 10%;
    font-size: 35px;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    left: 10%;
  }

  .col-md-10 {
    position: relative;
    top: 35%;
    left: 60%;
    color: white;
    font-size: 16px;
  }
  .row a {
      color: white;
      padding-right: 20px;
      font-family: 'Gloria Hallelujah', cursive;
  }

  .row {
    background-color: #226f54;
    height: 65px;
    margin-bottom: 50px;
  }

  .form1 {
    position: relative;
    left: 1.2%;
  }

  .submit {
    background-color: #226f54;
    color: white;
  }

  .edit {
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    padding-top: 15px;
    height: 300px;
    width: 400px;
    font-family: 'Gloria Hallelujah', cursive;
    border: 2.5px solid #425384;
    background-color: #B2B09B;
    color: #226f54;
    font-size: 15px;
  }

  img {
    width: 250px;
    height: 250px;
    padding: 1em;
    border: 1px solid #FAB949;
    background-color: #226f54;
  }


  </style>

</html>
