<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>User Landing Page</h1>

    <ul>
      <% for(let i = 0; i < user.length; i++) { %>
        <li>
          Username: <%=user.username%><br>
          Location: <%=user.location%><br>

        </li>
    <% } %>
    </ul>
  </body>
</html>
