<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href='/photos'>Photos</a>
      <a href='/users'>Users</a>
      <a href='/'>Home</a>
    </nav>
    <h1>Username</h1>

    <h3><%=user.username%></h3>

    <section>
      <h2>Posts by <%=user.username%></h2>
        <ul>
          <% for(let i = 0; i < user.photos.length; i++) { %>
            <li><img src='<%=user.photos[i].img%>'></li>
          <% } %>

        </ul>
    </section>

  <style>


    h1 {
    text-align: center;
    }
    h3 {
      text-align: center;
    }

    h2 {
      text-align: center;
    }
    li {
      padding: 1em;
      display: inline-block;
      text-align: center;
    }
    img {
      width: 250px;
      height: 200px;
    }
    nav {
      text-align: center;
    }
    nav a {
      margin-right: 25px;
      text-align: center;
    }

  </style>



  </body>
</html>
