<!DOCTYPE html>
<html>
  <head>
  <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>

    <header>

      <div class='row'>

      <div class='col-md-2'>
        <a href='/'>Fish Finder</a>
      </div>

      <div class='col-md-10'>
        <a href='/photos'>Photos</a>
        <a href='/users'>Anglers</a>
        <a href='/'>Sign Up</a>
        <a href='/logout'>Logout</a>
      </div>

    </div>
    </header>

    <h3><%=user.username%></h3>


    <h2>Posts by <%=user.username%></h2>
    <section class='container'>
        <ul>
          <% for(let i = 0; i < user.photos.length; i++) { %>
            <li><img src='<%=user.photos[i].img%>'></li>
          <% } %>

        </ul>
    </section>

  </body>

  <style>

  body {
    background-image: url('http://wallpapercave.com/wp/K6IjzXu.jpg');
    background-size: 2500px 1000px;
    background-repeat: no-repeat;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  li {
      display: inline-block;
      padding: 1em;
      border: 2.5px solid #425384;
      border-radius: 10%;
      margin-bottom: 10px;
      margin-right: 10px;
      background-color: #B2B09B;
    }

  .col-md-2 {
    position: relative;
    top: 10%;
    font-size: 35px;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    left: 10%;
  }

  .col-md-10 {
    position: relative;
    top: 35%;
    left: 60%;
    color: white;
    font-size: 16px;
  }

  .row a {
      color: white;
      padding-right: 20px;
      font-family: 'Gloria Hallelujah', cursive;
  }

  .row {
    background-color: #226846;
    height: 65px;
    margin-bottom: 50px;
  }



    h3 {
      text-align: center;
      color: white;
    }

    h2 {
      text-align: center;
      color: white;
    }
    li {
      padding: 1em;
      display: inline-block;
      text-align: center;
    }
    img {
      width: 250px;
      height: 200px;
      display: block;
      margin: auto;
    }
    nav {
      text-align: center;
    }
    nav a {
      margin-right: 25px;
      text-align: center;
    }

  </style>



  </body>
</html>
